div {
  margin: 10px;
}

.listing {
  -webkit-transition: 1400ms linear all;
  transition: 1400ms linear all;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: word-wrap;
  white-space: nowrap;
}

.listing.ng-leave {
  opacity: 1;
  width: 300px;
  height: 30px;
}

.listing.ng-leave-active {
  opacity: 0;
  width: 0;
  height: 0;
}

